<div style="border: 2px dashed grey; padding: 15px;margin: 5% 0;">
    <h4 class="text-danger text-center">Life Cycle Hook Demo</h4>
    <input type="text" class="form-control col-xs-6" [(ngModel)]="name" />
    <button class="btn btn-dark" (click)="doCheck()">Ng do Check</button>
    <p class="text-success">{{constructorVar}}</p>
    <!-- <p class="text-success">{{ngOnChangesVar}}</p> -->
    <p class="text-primary">{{ngOnInitVar}}</p>
    <p class="text-success">{{ngDoCheckVar}}</p>
    </div>