<div class="row">
    <div class="col-xs-12">
        <img src="" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="text-succes">
            Recipe Name
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
                Mange Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-meu">
                <li>
                    <a href="">To Shopping list</a>
                </li>
                <li>
                    <a href="">Edit Recipe</a>
                </li>
                <li>
                    <a href="">Delete Recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Recipe ingredient
    </div>
</div>